* {
   margin: 0;
   padding: 0;
   font-family: 'PT Sans', sans-serif;
   box-sizing: border-box;
}
 
.home, .services, .products, .sign-up {
   background-size: cover;
   height: calc(100vh - 80px);
   color: #fff;
   font-size: 100px;
   display: flex;
   align-items: center;
   justify-content: center;
   text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.432);
}
 
.services {
   background: url('/images/img-2.jpg') center no-repeat;
}
 
.products {
   background: url('/images/img-1.jpg') center no-repeat;
}
 
.sign-up {
   background: url('/images/img-8.jpg') center no-repeat;
}